*.mat filter=lfs diff=lfs merge=lfs -text
IFILES/SLRProjections140523core.mat filter=lfs diff=lfs merge=lfs -text
IFILES/SLRProjections161027GRIDDEDcore.mat filter=lfs diff=lfs merge=lfs -text
IFILES/SLRProjections180124GRIDDEDcore_Tscens.mat filter=lfs diff=lfs merge=lfs -text
IFILES/SLRProjections200204GRIDDEDcore_SROCC.mat filter=lfs diff=lfs merge=lfs -text
IFILES/SLRProjections170113GRIDDEDcore-DP16-Pl5_15-BC.mat filter=lfs diff=lfs merge=lfs -text
IFILES/SLRProjections170113GRIDDEDcore.mat filter=lfs diff=lfs merge=lfs -text
IFILES/SLRProjections190726core_SEJ_full.mat filter=lfs diff=lfs merge=lfs -text
IFILES/SLRProjections191116GRIDDEDcore_Tscens.mat filter=lfs diff=lfs merge=lfs -text
IFILES/SLRProjections200204GRIDDEDcore_D20.mat filter=lfs diff=lfs merge=lfs -text
